@page
@model LOVA.API.Pages.Lova.DashboardDrainPatrolModel
@{
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";
}

<style>
    body {
        background-color: #eee;
    }
</style>

<div class="row mt-4">
    <div class="col-12">
        <h4 class="text-center">Dashboard - KPIer VA-Systemet</h4>
    </div>
</div>


<div class="row ml-3 mr-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">3</h4>
                </div>
            </div>
            <div class="card-body">
                Antal vakuumslingor
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">143</h4>
                </div>
            </div>
            <div class="card-body">
                Antal intagsenheter
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">3</h4>
                </div>
            </div>
            <div class="card-body">
                Antal vakuumpumpar
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">4</h4>
                </div>
            </div>
            <div class="card-body">
                Antal tryckpumpar
            </div>
        </div>
    </div>
</div>


<div class="row ml-3 mr-5">
    <div class="col-4">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Intagsenheter aktivitet</h4>
                <p class="card-category">Top 5 med senaste datum för aktiveringen</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-condesed">
                    <thead class="text-danger">
                        <tr>
                            <th>Intagsenhet</th>
                            <th>Datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kpi in Model.NoActivities)
                        {
                            <tr>
                                <td>@kpi.Address</td>
                                <td>@kpi.Date</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">Intagsenheter aktivitet</h4>
                <p class="card-category">Top 5 antal aktiveringar per dag</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-condesed">
                    <thead class="text-danger">
                        <tr>
                            <th>Intagsenhet</th>
                            <th>Datum</th>
                            <th>Antal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kpi in Model.NumberOfActivities)
                        {
                            <tr>
                                <td>@kpi.Address</td>
                                <td>@kpi.Date.ToShortDateString()</td>
                                <td>@kpi.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">Here is the Text</h4>
                </div>
            </div>
            <div class="card-body">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona...
            </div>
        </div>
    </div>


</div>


