@page
@model LOVA.API.Pages.Lova.DashboardDrainPatrolModel
@{
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";
}

<style>
    body {
        background-color: #eee;
    }
</style>

<div class="row mt-4">
    <div class="col-12">
        <h4 class="text-center">Dashboard - VA-Systemet</h4>
    </div>
</div>


<div class="row ml-3 mr-5">
    <div class="col-md-2">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">3</h4>
                </div>
            </div>
            <div class="card-body">
                Antal vakuumslingor
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">143</h4>
                </div>
            </div>
            <div class="card-body">
                Antal intagsenheter
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">4</h4>
                </div>
            </div>
            <div class="card-body">
                Antal vakuumpumpar
            </div>
        </div>
    </div>

    <div class="col-md-2">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">4</h4>
                </div>
            </div>
            <div class="card-body">
                Antal tryckpumpar
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4>
                        @Model.TotalNumberOfDrainingLast24H
                    </h4>
                </div>
            </div>
            <div class="card-body">
                Antal tömmningar senaste dygnet
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4>
                        @Model.TotalNumberOfActivitiesLast24H
                    </h4>
                </div>
            </div>
            <div class="card-body">
                Antal aktiveringar senaste dygnet
            </div>
        </div>
    </div>

</div>


<div class="row ml-3 mr-5">
    <div class="col-3">
        @await Component.InvokeAsync("LatestActivityWidget", new { dashboardItemSize = @Model.DashboardItemSize })

    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header card-header-rose">
                <h4 class="card-title">Antal Aktiveringar</h4>
                <p class="card-category">Top @Model.DashboardItemSize antal aktiveringar per dag senaste veckan</p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover table-condesed table-sm">
                    <thead class="text-danger">
                        <tr>
                            <th>Intagsenhet</th>
                            <th>Datum</th>
                            <th>Antal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kpi in Model.NumberOfActivities)
                        {
                        <tr>
                            <td><a asp-page="./StatisticPerWell" asp-route-id="@kpi.Address">  @kpi.Address</a></td> 
                            <td>@kpi.Date.ToShortDateString()</td>
                            <td>@kpi.Count</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header card-header-text card-header-danger">
                <div class="card-text">
                    <h4 class="card-title">Intagsgruppering full</h4>
                    <p class="card-category">@Model.DashboardItemSize senaste med full brunn senaste veckan</p>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-hover table-condesed table-sm">
                    <thead class="text-danger">
                        <tr>
                            <th>Intagsenhet</th>
                            <th>Datum</th>
                            <th>Antal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var kpi in Model.NumberOfActivitiesFull)
                        {
                        <tr>
                            <td><a asp-page="./StatisticPerWell" asp-route-id="@kpi.Address">  @kpi.Address</a></td> 
                            <td>@kpi.Date.ToShortDateString()</td>
                            <td>@kpi.Count</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card">
            <div class="card-header card-header-text card-header-primary">
                <div class="card-text">
                    <h4 class="card-title">Larm</h4>
                    <p class="card-category">@Model.DashboardItemSize senaste larmen</p>
                </div>
            </div>           
            <div class="card-body">
                <table class="table table-hover table-condesed table-sm">
                    <thead class="text-danger">
                        <tr>
                            <th>Intagsenhet</th>
                            <th>Datum</th>
                            <th>Alarm typ</th>
                            <th>Antal</th>
                            <th>Limit</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var alarm in Model.Alarms)
                        {
                            <tr>
                                <td><a asp-page="./StatisticPerWell" asp-route-id="@alarm.Address">  @alarm.Address</a></td>
                                <td>@alarm.TimeStamp.ToShortDateString()</td>
                                <td>@alarm.AlarmType</td>
                                <td>@alarm.Amount</td>
                                <td>@alarm.Limit</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>


