@page
@model LOVA.API.Pages.Lova.StatisticPerWellModel
@{
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@Html.AntiForgeryToken()

<style>
    body {
        background-color: #eee;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-light">
                <a class="navbar-brand offset-2">Statistik per intagsenhet</a>
                <form class="form-inline" method="post">
                    <div class="col ml-2">
                        @(Html.Kendo().AutoComplete()
                                    .Name("IssueReportViewModel.WellName")
                                    .Filter("Startswith")
                                    .MinLength(2)
                                    .DataTextField("WellName")
                                    .Placeholder("Ex: 1A1")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("/Lova/AddNewActivity?handler=Well").Data("onAdditionalData");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .HtmlAttributes(new { style= "width:100%; font-size: 11px;", @class="form-control" })
                                )

                    </div>
                    <div class="col">
                        <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>
                    </div>
                </form>
            </nav>
        </div>
    </div>

    @if (Model.LatestActivity != null)
{
    <div class="row mt-3">

        <div class="col-4">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Statistik aktivering</h4>
                    <p class="card-category">Tid: @Model.DateNow</p>
                    @*<p class="card-category">Tid UTC: @Model.DateUtcNow</p>*@
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-condesed">
                        <tr>
                            <th>Senaste</th>
                            <td>@Model.LatestActivity.First().Time</td>
                        </tr>
                        <tr>
                            <th>Antal senaste tim</th>
                            <td>@Model.LatestHour</td>
                        </tr>
                        <tr>
                            <th>Antal senaste 3 tim</th>
                            <td>@Model.Latest3Hour</td>
                        </tr>
                        <tr>
                            <th>Antal senaste 24 tim</th>
                            <td>@Model.Latest24Hour</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-4">

            </div>
        </div>
    </div>
}

</div>




@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        function onAdditionalData() {
            return {
                text: $("#IssueReportViewModel_WellName").val()
            };
        }


    </script>

}
