@page
@model LOVA.API.Pages.Lottingelund.BoardModel

@{
    Layout = "~/Pages/Shared/_LayoutDashboard.cshtml";
}

<style>
    body {
        background-color: #eee;
    }
</style>

<div class="container-fluid mt-5">


    <div class="row">
        <div class="offset-md-3  col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/RonnyModigs.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Ordf.Name</h4>
                    <h6 class="card-category text-gray">Ordförande</h6>
                    <div class="card-text offset-2 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @LOVA.API.Services.MyConsts.Ordf.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Ordf.Email" class="mb-1">@Model.Ordf.Email</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Kansli.Name</h4>
                    <h6 class="card-category text-gray">Kanslichef</h6>
                    <div class="card-text offset-1 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.Kansli.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Kansli.Email" class="mb-1">@Model.Kansli.Email</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Kassor.Name</h4>
                    <h6 class="card-category text-gray">Kassör</h6>
                    <div class="card-text offset-2 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.Kassor.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Kassor.Email" class="mb-1">@Model.Kassor.Email</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.VA.Name</h4>
                    <h6 class="card-category text-gray">VA ansvarig</h6>
                    <div class="card-text offset-2 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.VA.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.VA.Email" class="mb-1">@Model.VA.Email</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Vag.Name</h4>
                    <h6 class="card-category text-gray">Sekreterare & Väg ansvarig</h6>
                    <div class="card-text offset-1 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.Vag.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Vag.Email" class="mb-1">@Model.Vag.Email</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Tomt.Name</h4>
                    <h6 class="card-category text-gray">Tomtansvarig</h6>
                    <div class="card-text offset-1 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.Tomt.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Tomt.Email" class="mb-1">@Model.Tomt.Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="offset-md-3  col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Supp1.Name</h4>
                    <h6 class="card-category text-gray">Suppleant</h6>
                    <div class="card-text offset-2 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.Supp1.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Supp1.Email" class="mb-1">@Model.Supp1.Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-profile text-center col-12">
                <div class="card-avatar">
                    <a href="javascript:;">
                        <img class="img" src="~/Images/BoardMember/nopic.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@Model.Supp2.Name</h4>
                    <h6 class="card-category text-gray">Suppleant</h6>
                    <div class="card-text offset-2 mt-4">
                        <div class="row">
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            @Model.Supp2.Phone
                            <i class="fa fa-envelope mr-2 ml-3" aria-hidden="false"></i>
                            <a href="mailto:@Model.Supp2.Email" class="mb-1">@Model.Supp2.Email</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>






