@page
@model LOVA.API.Pages.Lottingelund.SurveyReportModel

@{
    ViewData["Title"] = "SurveyReport";
}

<div class="container mt-5" style="height:80vh;">
    <div class="offset-sm-2 col-sm-8">
        <div class="row mt-5">
            <h4>Resultat Enkät - Investeringar</h4>
        </div>

        <div class="row mt-5">
            Antal svarande: @Model.NumberOfAnswer
        </div>

        <div class="row mt-5">
            <div class="card">
                <div class="card-header">
                    Fråga 1
                </div>
                <div class="card-body">
                    <ol start="1">
                        <li><span class="ms-2">@Model.NumberOfAnswerQuestion1Alt1 st på @Model.TextOfAnswerQuestion1Alt1</span></li>
                        <li><span class="ms-2">@Model.NumberOfAnswerQuestion1Alt2 st på @Model.TextOfAnswerQuestion1Alt2</span></li>
                        <li><span class="ms-2">@Model.NumberOfAnswerQuestion1Alt3 st på @Model.TextOfAnswerQuestion1Alt3</span></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card">
                <div class="card-header">
                    Fråga 2
                </div>
                <div class="card-body">
                    <ol start="1">
                        <li><span class="ms-2">@Model.NumberOfAnswerQuestion2Alt1 st på @Model.TextOfAnswerQuestion2Alt1</span></li>
                        <li><span class="ms-2">@Model.NumberOfAnswerQuestion2Alt2 st på @Model.TextOfAnswerQuestion2Alt2</span></li>
                        <li><span class="ms-2">@Model.NumberOfAnswerQuestion2Alt3 st på @Model.TextOfAnswerQuestion2Alt3</span></li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card">
                <div class="card-header">
                    Fråga 3
                </div>
                <div class="card-body">
                    <ol start="1"> 
                        @foreach(var item in Model.Survey.Where(a => !(a.Query3 == "") && !(a.Query1 == null)))
                        {
                             <li>@item.Query3</li>
                        }

                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
    $(document).ready(function () {
        $("footer").css("visibility", "hidden");
    })


</script>



}