@page
@model LOVA.API.Pages.About.AboutModel
@{
    ViewData["Title"] = "Om";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5 fw-bold">Löttingelundsföreningarna</h2>
            <p class="col-md-8 fs-4">I Löttingelund tar vi hand om våra egna vägar och vi har ett eget VA-system. Allt sköts av våra villaföreningar.</p>

        </div>
    </div>




    <!-- Accordion by bootstrap-->

    <div class="accordion accordion-flush" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button text-left" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Löttingelund Tomtföreningen
                </button>
            </h2>

            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="mt-3">
                        Tomtföreningens uppgift är att tillvarata fastighetsägarnas i Löttingelund tomtområde, gemensamma intressen beträffande skötsel av parkmark, bryggor och båtplatser, samt andra gemensamma intressen för medlemmarnas och samhällets nytta och trevnad.
                        <br /><br />
                        Årsavgift @LOVA.API.Services.MyConsts.tomtAvgift kr/medlem.<br />
                        Båtplatsavgift Beror på utfall i diskussioner med Täby kommun<br />
                        Bredbandsavgift @LOVA.API.Services.MyConsts.bredbandsAvgift kr/månad<br />
                        Kabel-TV avgift @LOVA.API.Services.MyConsts.tvAvgift kr/månad<br />
                        Anslutningsavgift Fibernät om det ej är indraget i huset redan 33 000 kr. Annars ingen kostnad.<br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Löttingelund Vägföreningen
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="mt-3">
                        Vägföreningens uppgift är att svara för drift och underhåll av samtliga vägar inom Löttingelundomrdet. Löttinglunds- och Löttinelundsvägen har Vägverket ansvar för. Skavlötensvägen samt delar av Löttingelundsvägen har Täy kommun ansvar för.
                        <br /><br />
                        Vi sköter förstås snöröjningen själva vilket har samma inverkan på trivseln. Om du inte orkar eller kan röja din garageuppfart kan du ringa till den som röjer snön och be honom att ta bort din snö också.
                        <br /><br />
                        Årsavgift @LOVA.API.Services.MyConsts.vagAvgift kr
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Löttingelund VA-föreningen
                </button>
            </h2>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="mt-3">
                        VA-föreningens uppgift är att sköta vårt gemensamma vatten- och avloppssystem. Alla fastigheter inom Löttingelund är anslutna till Löttingelunds privata VA-system. I området finns 142 brunnar som töms 50 ggr/dygn. Vattenförbrukningen i området är 42.000 kbm per år. Vi bidrar med i genomsnitt 550 liter till avloppssystemet per dygn per hushåll. Vi har 6,5 km VA kulvert i området varav ca 6 km eluppvärmd.
                        <br /><br />
                        Det vatten vi använder oss av i området köper vi av Norrvatten, vilket är samma vatten som de flesta använder sig av i stockholmsområdet. Vårt vatten är för övrigt bland det billigaste i Stor-Stockholm trots att vi ”bara” försörjer cirka 250 fastigheter. Vattnet kommer in till vårt pumphus nere vid Rönningesjön och pumpas vidare ut till fastigheterna. I vår tur tar vi in avloppet från alla fastigheter via intagsenheterna och vidare till pumphuset. Därefter pumpar vi iväg avloppet i vår egna 1300 meter långa ledning under Rönningesjön ända bort till Arninge. Där tar kommunen vid och skickar avloppet vidare för rening vid Käppalaverken i Lidingö.
                        <br /><br />
                        Servisavgift per fastighet avseende obligatorisk anslutningspunkt för VA om @LOVA.API.Services.MyConsts.vaAnslutningsAvgiftService kr.<br />
                        Avgift för lägenhet om @LOVA.API.Services.MyConsts.vaAnslutningsAvgiftLagenhet kr (enskild fastighet skall lägga samman beloppen från punkt 1 och 2 för att erhålla årets anslutningsavgift = @LOVA.API.Services.MyConsts.vaAnslutningsAvgift kr) <br />
                        Avgift för anslutning av Attefallshus är 50% av avgiften för lägenhet i pnkt 2 ovan.<br />
                        Tappvatten med totalt @LOVA.API.Services.MyConsts.tappvattenAvgift kr/kbm levererat vatten. Avloppsvatten utöver debiterat tappvatten debiteras med 14,70 kr/kbm. (jmf Täby kommun 27,50 kr/kbm)<br />
                        Extra mätställe (mätställe utöver ett per fastighet) skall erläggas en årlig avgift med 300 kr<br />
                        Rensningsavgift om @LOVA.API.Services.MyConsts.rensAvgift kr per brunnsrensning.<br />
                        Medlemsavgift per år för vatten och avlopp är @LOVA.API.Services.MyConsts.vaAvgift kr.<br />
                        Medlemsavgift per år för endast avlopp är @LOVA.API.Services.MyConsts.enbartAvloppsAvgift kr.<br />
                    </p>
                </div>
            </div>
        </div>
    </div>






</div>
<!-- /container -->
