@model LOVA.API.ViewModels.Components.ActivityPerRowWidgetViewModel
@{ 
    var dateNow = DateTime.Now;
}


<div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Statistik</h4>
        <p class="card-category">@Model.StartDate och @Model.EndDate</p>
        @*<p class="card-category">Tid UTC: @Model.DateUtcNow</p>*@
    </div>
    <div class="card-body table-responsive">
        @if (Model.ActivityPerRows.Count() != 0)
        {
            <table class="table table-condesed table-sm">
                <thead>
                    <tr>
                        <th>Adress</th>
                        <th>Aktivering start</th>
                        <th>Aktivering av</th>
                        <th>Aktiveringstid (sek)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.ActivityPerRows)
                    {
                        <tr>
                            <td>@row.Address</td>
                            <td>@row.TimeUp</td>
                            <td>@row.TimeDown</td>
                            <td class="text-right">@(Math.Round((row.TimeDown - row.TimeUp).TotalSeconds))</td>
                            
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <h5 class="text-danger">Ingen data för vald period och intagsenhet!</h5>
        }
    </div>
</div>