@page
@model LOVA.API.Pages.Lova.Activity.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="p-3 mb-3 bg-light rounded-3">
        <div class="container-fluid py-3">
            <h2 class="display-5 fw-bold">Åtgärder</h2>
            <p class="col-md-8 fs-4">Löva gruppens åtgärdspunkter.</p>

        </div>
    </div>

    <div class="row">
        <p>
            <a asp-page="Create">Ny åtgärd</a>
        </p>
    </div>
    <div class="row">
        <form id="formSwitch">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" asp-for="@Model.ShowClosedActions">
                <label class="form-check-label" for="flexSwitchCheckDefault">Visa slutförda och parkerade</label>
            </div>
        </form>
    </div>

    <div class="row mb-5">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        <label class="control-label">Status</label>
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.LovaIssue[0].Action)

                    </th>
                    <th scope="col">
                        <label class="control-label">Åtgärd</label>
                    </th>
                    <th scope="col">
                        <label class="control-label">Ägare</label>
                    </th>
                    <th scope="col">

                        <label class="control-label">Skapat</label>
                    </th>
                    <th scope="col">

                        <label class="control-label">Uppdaterat</label>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.LovaIssue)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Action)
                        </td>
                        <td>
                            <span class="d-inline-block text-truncate" style="max-width: 170px;">
                                @Html.DisplayFor(modelItem => item.Response)
                            </span>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OwnedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedAt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Uppdatera</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Ta bort</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script type="text/javascript">
        $("#flexSwitchCheckDefault").change(function(){
            $("#formSwitch").submit();
        });
    </script>
}




