@page
@model LOVA.API.Pages.BoardMember.Members.MemberIndexModel
@{
}
<div class="container-fluid mt-5">
    <div class="row mt-5">
        <h4>Register</h4>
    </div>
    <div class="row m-t5">
        <a asp-page="/BoardMember/Members/AddMember">Lägg till medlem</a>
    </div>
    
    <div class="row mt-5">
        <table class="cell-border compact stripe fs-6" id="table_id">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Namn</th>
                    <th>Adress</th>
                    <th>Epost</th>
                    <th>Mobil</th>
                    <th>Telefon</th>
                    <th>Fastighet</th>
                    <th>Intagsenhet</th>
                    <th>Aktiv</th>
                    <th>Uppdatera</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Members)
                {
                    <tr>
                        <td>@item.FullName</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>@item.MobileNumber</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Property</td>
                        <td>@item.WellName</td>
                        
                        <td>

                            <div class="form-check form-switch">
                                @if(item.IsActive)
                                {
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked >
                                }else
                                {
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                                }
                                
                            </div>
                        </td>
                        <td><a asp-page="./EditMember" asp-route-id="@item.PremiseContactId">Uppdatera</a></td>

                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.4/datatables.min.js"></script>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>

}